@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat&display=swap');
/* 
font-family: 'Metal Mania', cursive;
font-family: 'Montserrat', sans-serif; */

/* Custom Stylesheet */
/**
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: rgb(180, 180, 180);
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: 600px;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


/* Navbar */


.brand-logo img {
    max-height: 46px;
    margin-top: 5px;
}

nav ul li a,
#nav-mobile li a {
    font-family: 'Metal Mania', cursive;
    font-size: 25px;
    font-weight: 300;
    color: rgb(180, 180, 180);
}

nav ul li a:hover,
nav ul li a.active,
#nav-mobile li a:hover,
#nav-mobile li a.active {
    color: white;
}


nav {
    background-color: #191c23;
    margin: 0;

}

.sidenav {
    background-color: #191c23;

}

@media (min-width:600px) and (max-width:1920px) {
    .brand-logo {
        margin-left: 15px;
    }

    .brand-logo img {
        max-height: 56px;
        margin-top: 3px;
    }

    .album-cards {
        text-align: center;
        height: 1250px;
    }
}



/* Hero Image */

.hero img {
    width: 100%;

}


/* Landing page body */

.headings {
    font-family: 'Metal Mania', cursive;
    font-size: 4rem;
    font-weight: 600;
    color: rgb(180, 180, 180);
    margin-top: 0px;
}

.welcome-text {
    font-family: 'Montserrat', sans serif;
    font-weight: 200;
    color: rgb(180, 180, 180);
}

.page-title {
    display: block;
}

hr {
    border: 2px solid rgb(180, 180, 180);
    margin: 0 20px;
    
}

.twitter-section {
    margin-top: 20px;
}

/* Footer */

.page-footer {
    background-color: #191c23;
    max-height: 128px;
}

.socials a {
    display: block;
    color: rgb(180, 180, 180);
}

.page-footer .footer-row {
    padding-bottom: 20px;
    margin-bottom: 0;
}


/* cards */

.card {
    max-width: 350px;
    margin: 0 auto;
    font-family: 'Metal Mania', sans serif;
}

.card tr td,
.card tr th {
    padding: 5px;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #191c23;
}
.tabs .tab a {
    color: #191c23;
}

th {
    font-weight: 300;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

td {
    font-weight: 200;
}

.card-tabs li {
    font-weight: bold;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #dedede;
}

.tabs .indicator {
    background-color: #43a047;
}

.vessel {
    margin-top: 1em;
}




/* Merch */
iframe {
    width: 100%;
    height: 100%;
}


/* Events */
.event-headings {
    font-family: 'Metal Mania', cursive;
    font-size: 4rem;
    font-weight: 600;
    color: #191c23;
    margin-top: 0px;
}

.events-body {
    background-color: rgba(180, 180, 180, 0);
}

.events-text,
.events-form {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #191c23;
}

#button {
    background-color: #191c23;
    color: rgb(180, 180, 180);
}


/* Debugged - events sign up form */
.filled-in+span:not(.lever):after {
    border-color: #191c23;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border-color: #191c23;
    color: rgb(180, 180, 180);
    background-color: #191c23;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
    border-bottom-color: rgb(180, 180, 180);
    border-right-color: rgb(180, 180, 180);
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
border-bottom-color: #191c23;
box-shadow: none;
}
/* importants used to override CDN */
label.active {
    color: #191c23 !important;
}


@media screen and (min-width: 1920px) {
    .vessel {
      width: 60%;
      margin: auto;
    }

    .album-cards {
         margin-bottom: 25px;
         
    }
    .card {
        max-width: initial;
    }
    
  }