@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat&display=swap');
/* 
font-family: 'Metal Mania', cursive;
font-family: 'Montserrat', sans-serif; */

/* Custom Stylesheet */
/**
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: 600px;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


/* Navbar */


.brand-logo img {
    max-height: 46px;
    margin-top: 5px;
}

nav ul li a,
#nav-mobile li a {
    font-family: 'Metal Mania', cursive;
    font-size: 25px;
    font-weight: 300;
    color: rgb(180, 180, 180);
}

nav ul li a:hover,
nav ul li a.active,
#nav-mobile li a:hover,
#nav-mobile li a.active {
    color: white;
}


nav {
    background-color: #191c23;
    margin: 0;

}

.sidenav {
    background-color: #191c23;

}

@media (min-width:768px) {
    .brand-logo {
        margin-left: 15px;
    }

    .brand-logo img {
        max-height: 56px;
        margin-top: 3px;
    }

    .album-cards {
        text-align: center;
        height: 1150px;
    }
}

/* Hero Image */

.hero img {
    width: 100%;

}


/* Landing page body */

.headings {
    font-family: 'Metal Mania', cursive;
    font-size: 4rem;
    font-weight: 600;
    color: rgb(180, 180, 180);
}

.page-title {
    display: block;
}

/* Footer */

.page-footer {
    background-color: #191c23;
    max-height: 128px;
}

.socials a {
    display: block;
    color: rgb(180, 180, 180);
}

.page-footer .footer-row {
    padding-bottom: 20px;
    margin-bottom: 0;
}


/* cards */

.card {
    max-width: 350px;
}



.card tr td,
.card tr th {
    padding: 5px;
}

iframe {
    width: 100%;
    height: 100%;
}

/* .card-tabs,
.card-content,
table {
    background-color: #191c23;
    color: white;
}

 .card-tabs> div {
    padding: 0;
} */

/* Events */

.events-body {
    color: rgba(180, 180, 180, 0);
}